@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.d-flex{
  display: flex;
}

.pos-absolute{
  position: absolute;
}
.w-100per{
  width: 100%;
}
.w-80per{
  width: 80%;
}
.w-400{
  width: 400px;
}
.w-15per{
  width: 15%;
}
.w-10per{
  width: 10%;
}
.w-200{
  width: 200px;
}
.p-20{
  padding: 20px;
}
.align-center{
  text-align: center;
}
.m-center{
  margin: 0 auto;
}
.mt-20{
  margin-top: 20px;
}
.mt-80{
  margin-top: 80px;
}
.ml-10{
  margin-left: 10px;
}
.ml-90per{
  margin-left: 90%;
}
.mr-20{
  margin-right: 20px;
}
.m-25{
  margin:25px;
}
.m-auto{
  margin: 0 auto;
}

.fr{
  float: right;
}

.lh-45{
  line-height: 45px;
}

.talign-r{
  text-align: right;
}

.round{
  border-radius: 50%;
  
}